<div class="alert alert-{{ type }} alert-dismissible alert-full-top" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            {{ message|raw }}
        </div>
    </div>
</div>