{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
{{ parent() }}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row block-header">
    {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'app.dashboard.callback'|trans,
            'label': 'app.dashboard.title'|trans
        },
        {
            'label': 'email.automatic_email.list.title'|trans
        }
    ] } %}

    <h2 class="col-xs-12">
        {{ 'email.automatic_email.list.title'|trans }}
    </h2>
</div>
{% endblock %}