<div class="row">
    <div class="col-md-6">
        {{ form_row(form.profession, {'label': 'member.member.edit.form.profession'|trans}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.expertise, {'label': 'member.member.edit.form.expertise'|trans, 'attr': {'title': 'member.member.edit.form.expertise_placeholder'|trans}}) }}
    </div>
    <div class="col-lg-6 col-md-6">
        {{ form_row(form.study, {'label': 'member.member.edit.form.study'|trans}) }}
    </div>
</div>