<div class="row">
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.username, {'label': 'member.member.edit.form.username'|trans}) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.email, {'label': 'member.member.edit.form.email'|trans}) }}     
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.plainPassword.first) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.plainPassword.second) }}
    </div>
</div>