<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="form-group">
            <label class="control-label col-sm-10">Pseudo</label>
            <div class="col-sm-10 form-line">
                <input type="text" title="Pseudo" class="form-control" id="" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-10">E-mail</label>
            <div class="col-sm-10 form-line">
                <input type="text" title="E-mail" class="form-control" id="" placeholder="">
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="form-group">
            <label class="control-label col-sm-10">Mot de passe</label>
            <div class="col-sm-10 form-line">
                <input type="password" title="Mot de passe" class="form-control" id="" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-10">Mot de passe (vérif.)</label>
            <div class="col-sm-10 form-line">
                <input type="password" title="Mot de passe verif." class="form-control" id="" placeholder="">

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="form-group">
            <label class="control-label col-sm-10">Groupe</label>
            <div class="col-sm-10 form-line">
                <select class="form-control selectpicker" id="" title="Sélectionner">
                    <option value="1">Utilisateur</option>
                    <option value="2">Administrateur</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-10">Statut</label>
            <div class="col-sm-10 form-line">
                <select class="form-control selectpicker" id="" title="Sélectionner">
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>
        </div>
    </div>
</div>


