<div class="row">
    <div class="col-xs-12">
        <a href="{{ path('member_edit') }}" id="addGroup" class="btn bg-green waves-effect">Ajouter un groupe</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            <form action="#">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Libellé</th>
                        <th>Nb d'utilisateurs</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Administrateur</td>
                        <td>1</td>
                        <td>
                            <a href="#" class="btn btn-primary material-icons">remove_red_eye</a>
                            <a href="#" data-label="Administrateur" class="btn btn-warning material-icons editGroup">edit</a>
                            <a href="#" data-id="1" class="btn btn-danger material-icons delGroup">delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>Membre</td>
                        <td>40</td>
                        <td>
                            <a href="#" class="btn btn-primary material-icons">remove_red_eye</a>
                            <a href="#" data-label="Membre" class="btn btn-warning material-icons editGroup">edit</a>
                            <a href="#" data-id="2" class="btn btn-danger material-icons delGroup">delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">3</td>
                        <td>Modérateur</td>
                        <td>0</td>
                        <td>
                            <a href="#" class="btn btn-primary material-icons">remove_red_eye</a>
                            <a href="#" data-label="Modérateur" class="btn btn-warning material-icons editGroup">edit</a>
                            <a href="#" data-id="3" class="btn btn-danger material-icons delGroup">delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>