<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header bg-blue-grey">
                <h2>
                    Abonnement 1 an <small></small>
                </h2>
                <ul class="header-dropdown m-r-0">
                    <li>
                        <a class="btn btn-default btn-floating">Prolonger l'abonnement</a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <p><label>Durée :</label>  1 an</p>
                <p><label>Expire le :</label> XX/XX/XXXX</p>
                <p><label>Coût :</label> 60, 00€</p>
            </div>
        </div>
    </div>
</div>
