{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    <script src="{{ asset('plugins/fileinput/fileinput.min.js') }}"></script>
    <script src="{{ asset('plugins/fileinput/locales/fr.js') }}"></script>
    <script>
//        var btnCust = '<button type="button" class="btn btn-default" title="Add picture tags" ' +
//            'onclick="alert(\'Call your custom code here.\')">' +
//            '<i class="glyphicon glyphicon-tag"></i>' +
//            '</button>';
        {#$("#avatar-2").fileinput({#}
            {#overwriteInitial: true,#}
            {#maxFileSize: 1500,#}
            {#showZoom: false,#}
            {#showRemove: true,#}
            {#showClose: false,#}
            {#showCaption: false,#}
            {#browseOnZoneClick: true,#}
            {#browseLabel: '',#}
            {#removeLabel: '',#}
            {#browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',#}
            {#removeIcon: '<i class="glyphicon glyphicon-remove"></i>',#}
            {#removeTitle: 'Cancel or reset changes',#}
            {#elErrorContainer: '#kv-avatar-errors-2',#}
            {#msgErrorClass: 'alert alert-block alert-danger',#}
            {#defaultPreviewContent: '<img src="{{ asset('images/avatars/user.png') }}" alt="Your Avatar" style="width:100%" class="img-responsive"><h6 class="text-muted">Cliquer sur la photo pour la changer</h6>',#}
            {#layoutTemplates: {main2: '{preview} {remove} {browse}'},#}
            {#allowedFileExtensions: ["jpg", "png", "gif"]#}
        {#});#}

//        $('.selectpicker').selectpicker({
//            style: 'btn-info',
//            size: 4
//        });
$(function(){
        $("#avatar").on('change', function() {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $(".avatar-holder");
            image_holder.empty();
            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof(FileReader) != "undefined") {
                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++)
                    {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image",
                                "style": "width:100%"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
});
    </script>
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'retour tableau de bord',
            'label': 'Tableau de bord'
        },
        {
            'label': 'Gestion adhérents',
            'href': path('members_manager'),
            'title': 'retour gestion adhérents'
        },
        {
        'label': "Edition d'un membre"
        }
        ] } %}
        <h2 class="col-xs-12">
            <a href="{{ path('members_manager') }}" class="btn bg-grey waves-effect">Retour</a>&nbsp;
            Edition d'un membre
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#identity" data-toggle="tab">Identité <i class="material-icons text-danger">warning</i></a></li>
                        <li role="presentation"><a href="#coordonates" data-toggle="tab">Coordonnées</a></li>
                        <li role="presentation"><a href="#infos_connection" data-toggle="tab">Connexion</a></li>
                        <li role="presentation"><a href="#infos_membre" data-toggle="tab">Infos membre</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="identity">
                            {% include 'member/edit/memberIdentityEdit.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="coordonates">
                            {% include 'member/edit/memberCoordonatesEdit.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="infos_connection">
                            {% include 'member/edit/memberInfosConnectionEdit.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="infos_membre">
                            {% include 'member/edit/memberInfosMemberEdit.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input class="btn btn-success" type="submit" value="Enregistrer et revenir sur la liste">
                            <input class="btn btn-success"  type="submit" value="Enregistrer et rester">
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
{% endblock %}