<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="col-sm-12" style="padding: 0;">
            <select class="form-control selectpicker" id="" title="Statuts">
                <option value="fr">Membre</option>
                <option value="es">Membre premium</option>
                <option value="es">Secrétaire</option>
                <option value="es">Président</option>
                <option value="es">Trésorier</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="col-sm-12" style="padding: 0;">
            <select class="form-control selectpicker" multiple="multiple" id="" title="Abonnements">
                <option value="fr">Standard 1 an</option>
                <option value="es">Premium 1 an</option>
                <option value="es">Standard 3 mois</option>
                <option value="es">Standard 1 mois</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="col-sm-12" style="padding: 0;">
            <select class="form-control selectpicker" multiple="multiple" id="" title="Spécialité">
                <option value="fr">Biologie</option>
                <option value="es">Electronique</option>
                <option value="es">Informatique</option>
                <option value="es">Travail du bois</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="form-group">
            <div class="col-sm-10 form-line">
                <input type="text" title="Profession" class="form-control" id="" placeholder="Profession">
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="col-sm-12" style="padding: 0;">
            <select class="form-control selectpicker" multiple="multiple" id="" title="Rythme de paiement">
                <option value="fr">1 an (60€)</option>
                <option value="es">6 mois (30€)</option>
                <option value="es">3 mois (15€)</option>
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="form-group">
            <div class="col-sm-10 form-line">
                <input type="text" title="Date de naissance" class="form-control" id="" placeholder="Date de naissance">
            </div>
        </div>
    </div>

</div>


