{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $('#addStatus').on('click', function(e){
                e.preventDefault();

                swal({
                    title: "Ajouter un statut",
                    text: "",
                    type: 'input',
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });

            $('#addGroup').on('click', function(e){
                e.preventDefault();

                swal({
                    title: "Ajouter un groupe",
                    text: "",
                    type: 'input',
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });

            $('.editStatus').on('click', function(e){
                e.preventDefault();

                var label = $(this).data('label');

                swal({
                    title: "Modifier le statut",
                    text: "",
                    type: 'input',
                    inputValue: label,
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });

            $('.editGroup').on('click', function(e){
                e.preventDefault();

                var label = $(this).data('label');

                swal({
                    title: "Modifier le groupe",
                    text: "",
                    type: 'input',
                    inputValue: label,
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });


            $('#delMember').on('click', function(e){
                e.preventDefault();

                swal({
                    title: "Ajouter un groupe",
                    text: "",
                    type: 'input',
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });

            $('#delStatus').on('click', function(e){
                e.preventDefault();

                swal({
                    title: "Ajouter un groupe",
                    text: "",
                    type: 'input',
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });

            $('#delGroup').on('click', function(e){
                e.preventDefault();

                swal({
                    title: "Ajouter un groupe",
                    text: "",
                    type: 'input',
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });
        });


    </script>

{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'retour tableau de bord',
            'label': 'Tableau de bord'
        },
        {
        'label': 'Gestion adhérents'
        }
        ] } %}
        <h2 class="col-xs-12">
            Gestion adhérents
            <span class="pull-right">40 membres</span>
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#members" data-toggle="tab">Liste des adhérents</a></li>
                        <li role="presentation"><a href="#status" data-toggle="tab">Statuts</a></li>
                        <li role="presentation"><a href="#groups" data-toggle="tab">Groupes</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="members">
                            {% include 'member/membersList.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="status">
                            {% include 'member/statusList.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="groups">
                            {% include 'member/groupsList.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}