<thead>
    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>
            <input type="text" placeholder="Nom" class="form-control">
        </th>
        <th>
            <input type="text" placeholder="Prénom" class="form-control">
        </th>
        <th>
            <select name="statutFilter" id="statutFilter" class="form-control selectpicker">
                <option value="1">Membre</option>
                <option value="1">Membre premium</option>
                <option value="1">Président</option>
                <option value="1">Secrétaire</option>
            </select>
        </th>
        <th>
            <select name="abonnementFilter" id="abonnementFilter" class="form-control selectpicker">
                <option value="1">Premium 1 an</option>
                <option value="1">Standard 1 an</option>
                <option value="1">Standard 3 mois</option>
                <option value="1">Standard 1 mois</option>
            </select>
        </th>
        <th>
            <div class="input-group">
                <span class="input-group-addon">
                <i class="material-icons">date_range</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control date" placeholder="Ex: 30/07/2016">
                </div>
            </div>
        </th>
        <th>
            <input type="submit" value="Filtrer">
        </th>
    </tr>
</thead>