{% extends 'base.html.twig' %}

{% block body %}
    <h1>Membergroup</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memberGroup.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ memberGroup.label }}</td>
            </tr>
            <tr>
                <th>Nbmembers</th>
                <td>{{ memberGroup.nbMembers }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('membergroup_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
