{% extends 'layoutLogin.html.twig' %}
{% block javascript %}
    <script type="text/javascript">
        new Morris.Donut({
            element: 'abo_chart',
            data: [{
                label: 'Premium 1 an',
                value: 10
            }, {
                label: 'Standard 1 an',
                value: 20
            }, {
                label: 'Standard 3 mois',
                value: 3
            }, {
                label: 'Standard 1 mois',
                value: 2
            }],
            colors: ['rgb(233, 30, 99)', 'rgb(0, 188, 212)', 'rgb(255, 152, 0)', 'rgb(0, 150, 136)'],
            formatter: function (y) {
                return y;// + '%'
            }
        });
    </script>
{% endblock %}
{% block content %}

<div class="block-header">
    <h2>Tableau de bord</h2>
</div>
{% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row clearfix">
        {% for bundle in dashboardBundlesList %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ bundle|raw }}
            </div>
            {% if loop.index % 2 == 0 %}
            </div>
            <div class="row clearfix">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}