{% extends 'layoutLogin.html.twig' %}
{% block javascript %}
    {{ parent() }}

    {% for jsFile in jsBundles %}
        <script type="text/javascript" src="{{ asset(jsFile) }}"></script>
    {% endfor %}
{% endblock %}
{% block content %}

<div class="block-header">
    <h2>{{ 'dashboard.title'|trans }}</h2>
</div>
{% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row clearfix">
        {% for bundle in dashboardBundlesList %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ bundle|raw }}
            </div>
            {% if loop.index % 2 == 0 %}
            </div>
            <div class="row clearfix">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}