{% extends 'layoutNotLogin.html.twig' %}

{% block content %}
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Avilab</a>
            <small>Premier fablab d'Avignon</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="forgot_password" method="POST" novalidate="novalidate">
                    <div class="msg">
                        Entrer votre e-mail que vous avez utilisé pour vous enregistrer. Nous vous envoyons un e-mail
                        avec un lien pour pour réinitialiser votre mot de passe.
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="E-mail" required="" autofocus="" aria-required="true">
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Réinitialiser votre mot de passe</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="{{ path('homepage') }}">Connectez-vous!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}