{% extends 'layoutNotLogin.html.twig' %}

{% block content %}
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Avilab</a>
            <small>Premier fablab d'Avignon</small>
        </div>
        <div class="card">
            <div class="body">
                <form action="{{ path('dashboard') }}" id="sign_in" method="POST" novalidate="novalidate">
                    <div class="msg">Formulaire de connexion</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="E-mail" required="" autofocus="" aria-required="true">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Mot de passe" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Se souvenir de moi</label>
                        </div>
                        <div class="col-xs-5">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">Se connecter</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="{{ path('inscription') }}">Devenir membre, maintenant!</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
