<nav>
    <ul class="pagination">
        <li class="disabled">
            <a href="javascript:void(0);">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <li class="active"><a href="javascript:void(0);">1</a></li>
        <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
        <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
        <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
        <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
        <li>
            <a href="javascript:void(0);" class="waves-effect">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
</nav>