{% if menuSelect is not defined %}
    {% set menuSelect = 'dashboard'  %}
{% endif %}

<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    {% include ':main:userInfosBlock.html.twig' %}
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 463px;"><ul class="list" style="height: 463px; overflow: hidden; width: auto;">
                <li class="header">Menu</li>
                <li class="{% if menuSelect == 'dashboard' %}active{% endif %}">
                    <a href="{{ path('dashboard') }}" class=" waves-effect waves-block">
                        <i class="material-icons">dashboard</i>
                        <span>Tableau de bord</span>
                    </a>
                </li>
                <li class="{% if menuSelect == 'members_manager' %}active{% endif %}">
                    <a href="{{ path('members_manager') }}" class=" waves-effect waves-block">
                        <i class="material-icons">group</i>
                        <span>Adhérents</span>
                    </a>
                </li>
                <li class="{% if menuSelect == 'subscription_manager' %}active{% endif %}">
                    <a href="{{ path('subscription_manager') }}" class=" waves-effect waves-block">
                        <i class="material-icons">cached</i>
                        <span>Abonnements</span>
                    </a>
                </li>
                <li class="header">Applications</li>
                <li  class="{% if menuSelect == 'setting_manager' %}active{% endif %}">
                    <a href="{{ path('setting_manager') }}" class=" waves-effect waves-block">
                        <i class="material-icons">settings</i>
                        <span>Paramétrages</span>
                    </a>
                </li>
            </ul><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.498039); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 189.038px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            © 2017 Avilab.
        </div>
        <div class="version">
            <b>Version: </b> 0.0.4
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->