{% if menuSelect is not defined %}
    {% set menuSelect = 'dashboard'  %}
{% endif %}

<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    {% include ':main:userInfosBlock.html.twig' %}
    <!-- #User Info -->
    <!-- Menu -->
    {% include ':main:menu.html.twig' %}
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            © 2017 Avilab.
        </div>
        <div class="version">
            <b>Version: </b> 0.0.4
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->