<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            <form action="#">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Montant</th>
                        <th>Date de paiement</th>
                        <th>Abonnement</th>
                        <th>Période</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>60€</td>
                        <td>XX/XX/XXXX</td>
                        <td>Standard 1 an</td>
                        <td>XX/XX/XXXX à XX/XX/XXXX</td>
                        <td>
                            <a href="#" class="btn btn-primary material-icons">remove_red_eye</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
