<div class="row">
    <div class="col-md-6">
        {{ form_row(form.bundle, {'label': 'dashboard.manager.form.bundle'|trans, 'attr': {'class': 'text-right'}}) }}
    </div>
    <div class="col-md-3">
        <div class="form-group">
            {{ form_row(form.group, {'label': 'dashboard.manager.form.group'|trans, 'attr': {'class': 'text-right'}}) }}
        </div>
    </div>
    <div class="col-md-2">
        {{ form_row(form.order, {'label': 'dashboard.manager.form.order'|trans, 'attr': {'class': 'text-right'}}) }}
    </div>
    <div class="col-md-1">
        <a href="#" class="btn btn-danger">
            <i class="material-icons">delete</i>
        </a>
    </div>
</div>