{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('plugins/jquery-inputmask/jquery.inputmask.bundle.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $('.money-euro').inputmask('99,99 €', { placeholder: '___,__ €' });
            $('.day-duration').inputmask('365 J', { placeholder: '___ J' });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
        'href': path('dashboard'),
        'title': 'retour tableau de bord',
        'label': 'Tableau de bord'
        },
        {
        'label': 'Gestion abonnements',
        'href': path('subscription_manager'),
        'title': 'retour gestion abonnements'
        },
        {
        'label': "Edition d'un abonnement"
        }
        ] } %}
        <h2 class="col-xs-12">
            <a href="{{ path('subscription_manager') }}" class="btn bg-grey waves-effect">Retour</a>&nbsp;
            Edition d'un abonnement
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <form action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {#<label class="col-sm-2">Libellé</label>#}
                                    <div class="col-sm-10 form-line">
                                        <input type="text" title="Libelle" class="form-control" id="" placeholder="Libellé">
                                    </div>
                                </div>
                                <div class="form-group">
                                    {#<label class="col-sm-2">Coût</label>#}
                                    <div class="col-sm-10 form-line">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">euro_symbol</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" title="Coût" class="form-control money-euro" placeholder="Coût">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-12" style="padding: 0;">
                                        <select class="form-control selectpicker" multiple="multiple" id="" title="Choix périodicité">
                                            <option value="1">1 mois</option>
                                            <option value="2">3 mois</option>
                                            <option value="3">6 mois</option>
                                            <option value="4">1 an</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {#<label class="col-sm-2">Coût</label>#}
                                    <div class="col-sm-10 form-line">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control day-duration" title="Durée" placeholder="Durée (en jours)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}