{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $('.delSubscription').on('click', function(e){
                e.preventDefault();

                var id = $(this).data('id');

                swal({
                    title: Translator.trans('app.common.deleteQuestionTitle'),
                    text: Translator.trans('app.subscription.subscription.delete.deleteQuestionText'),
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: Translator.trans('app.common.deleteQuestionYes'),
                    cancelButtonText: Translator.trans('app.common.deleteQuestionNo'),
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function(isConfirm){
                    if (isConfirm) {
                        $.ajax({
                            'type':'POST',
                            'url': Routing.generate('subscription_subscription_delete', {'id': id}),
                            'dataType': 'json',
                            'success': function(data){
                                var data = $.parseJSON(data);

                                var title = Translator.trans('app.common.errorTitle');
                                if(data.code == 'success'){
                                    title = Translator.trans('app.common.deleteTitle');

                                    reloadPeriodicitiesList();
                                }

                                swal(title, data.message, data.code);
                            },
                            'error': function(){
                                swal(Translator.trans('app.common.errorTitle'),
                                    Translator.trans('app.common.errorUnknow'), "error");
                            }
                        });
                    }
                });
            });

            $(document).on('click', '.delPeriodicity', function(e){
                e.preventDefault();

                var id = $(this).data('id');

                swal({
                        title: Translator.trans('app.common.deleteQuestionTitle'),
                        text: Translator.trans('app.subscription.periodicity.delete.deleteQuestionText'),
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: Translator.trans('app.common.deleteQuestionYes'),
                        cancelButtonText: Translator.trans('app.common.deleteQuestionNo'),
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function(isConfirm){
                        if(isConfirm){
                            $.ajax({
                                'type':'POST',
                                'url': Routing.generate('subscription_periodicity_delete', {'id': id}),
                                'dataType': 'json',
                                'success': function(data){

                                    var title = Translator.trans('app.common.errorTitle');
                                    if(data.code == 'success'){
                                        title = Translator.trans('app.common.deleteTitle');

                                        reloadPeriodicitiesList();
                                    }

                                    swal(title, data.message, data.code);
                                },
                                'error': function(){
                                    swal(Translator.trans('app.common.errorTitle'),
                                        Translator.trans('app.common.errorUnknow'), "error");
                                }
                            });
                        }
                    });
            });
        });

        function reloadPeriodicitiesList()
        {
            var $periodicitiesContainer = $('#periodicitiesContainer');
            var paginatorPageParam = $periodicitiesContainer.data('page-parameter-name');
            var nbRow = $periodicitiesContainer.find('table tbody tr').length;
            var url = window.location.href;

            var regExp = new RegExp(".*"+paginatorPageParam+"=(\\d+).*","gi");

            console.log(regExp);

            var pageTag = regExp.exec(url);

            console.log(pageTag);

            var pageCount = 1;
            if(null !== pageTag){
                var pageCount = parseInt(pageTag.length > 1? pageTag[1]: 1);
            }

            console.log(pageCount);

            if(nbRow ==  1 && pageCount > 1){
                pageCount = pageCount -1;
            }

            console.log(pageCount);

            $.ajax({
                'url': Routing.generate('subscription_periodicity_list_part'),
                'type': 'GET',
                'data': paginatorPageParam+'='+pageCount,
                'dataType': 'html',
                'success': function(template){
                    $('#periodicitiesContainer').html(template);
                },
                'error': function(){
                    swal(Translator.trans('app.common.errorTitle'),
                        Translator.trans('app.common.errorUnknow'), "error");
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
<div class="row block-header">
    {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
    {
    'href': path('dashboard'),
    'title': 'retour tableau de bord',
    'label': 'Tableau de bord'
    },
    {
    'label': 'Gestion abonnements'
    }
    ] } %}
    <h2 class="col-xs-12">
        Gestion abonnements
        <span class="pull-right"><b>Total :</b> 2 000€</span>
    </h2>
</div>
{% include ':main/flashMessage:flashMessageBloc.html.twig' %}
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#subscriptions" data-toggle="tab">Abonnements</a></li>
                    <li role="presentation"><a href="#periodicities" data-toggle="tab">Periodicités</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="subscriptions">
                        {#{% include 'subscription/subscription/subscriptionList.html.twig' with {'results': subscriptionsList} only %}#}
                        {{ render(controller('AppBundle:Subscription:list')) }}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="periodicities">
                        {#{% include 'subscription/periodicity/:subscription/periodicity:periodicityList.html.twig' with {'results': periodicitiesList} only %}#}
                        {{ render(controller('AppBundle:Periodicity:list', {'request': app.request, 'anchor': '#periodicities'})) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}